<p class="headline">Check the distance of your route</p> 

<p>Please enter:</p>

<div>
<%= render 'form' %>
</div>
<div class="link" id="btn_stats">
  <%= link_to 'Go to 7-day stats', distances_path %>
</div>  
